*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 4vh 0px;
    background-color: rgb(169, 169, 255);
    list-style-type: none;
    font-size: 1.2rem; 
    
}
#ul_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

#profile_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#person_profile{
    width: 5vw;
}


#me{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15vh 0px;
}
#welcome{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.8rem;
}

text{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.1rem;
}
#profile-photo{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url("../img/profile.jpg");
    background-color: #cccccc;
    background-position: center; /* centraliza a img */
    background-repeat: no-repeat; /* ñ repete a img*/
    background-size: cover; /* Resize the background image to cover the entire container */
}
/*INDEX | SKILLS */
#skills{
    width: 100vw;
    text-align: center;
}

#skills > p{
    font-size: 1.3rem;
    padding: 30px 0px;
}

#div-img-skills{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20vw;
    justify-content: center;
}

.img-skills{
    width: 130px;
    padding: 15px 40px;
    justify-content: center;
}
/*INDEX | CURSOS */
#cursos{
    width: 100vw;
    margin: 0px 30px;
    text-align: justify;
}
#session_title{
    margin-left: 30px;
    color: rgb(24, 18, 18);
    font-size: 2rem;
    margin: 40px 0px 30px 50px;
}
.cursos_box{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.img_curso{
    width: 200px;
    border-radius: 10px;
}
.curso_title{
    font-size: 2rem;
}
.curso_desc{
    width: 70vw;
    padding: 35px 0px;
}
/*.curso_conclusao{
    
}*/
hr{
    width: 40vw;
    border: 1px solid orangered;
    display: flex;
    margin: 40px auto;
}

/*PÁG CONTATOS*/
#contact{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p_contact:nth-child(1){
    padding-bottom: 5vh;
}

.p_contact{
    font-size: 1.5rem;
    text-align: center;

}

/*RODAPÉ*/
footer{
    width: 100vw;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 5px 0px;
}

footer > p {
    padding: 20px 0px;
}

.footer-links{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.img-footer{
    padding: 10px 30px;
    width: 50px;
}