*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

/*FONTS */

/* 
<uniquifier>: Use a uniquifier for the class name 
<weight>: Use a value from 200 to 1000
*/


/*HEADER*/
a{
    text-decoration: none;
}

a:hover{
    color: black;    
    text-decoration: underline;
}
a:visited{
    color: black;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 2vh 0px;
    background-color: rgb(169, 169, 255);
    list-style-type: none;
    font-size: 1.2rem; 
    
}
#ul_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

#profile_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#person_profile{
    width: 5vw;
}
#me{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15vh 0px;
}
#welcome{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.8rem;
}

text{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.1rem;
}
#profile-photo{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url("../img/perfil/profile.jpg");
    background-color: #cccccc;
    background-position: center; /* centraliza a img */
    background-repeat: no-repeat; /* ñ repete a img*/
    background-size: cover; /* Resize the background image to cover the entire container */
}
/*INDEX | SKILLS */
#skills{
    width: 100vw;
    text-align: center;
}

#skills > p{
    font-size: 1.3rem;
    padding: 30px 0px;
}

#div-img-skills{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15vw;
    justify-content: center;
}

.img-skills{
    width: 130px;
    padding: 15px 40px;
    justify-content: center;
}
/*INDEX | CURSOS */
#cursos{
    width: 100vw;
    text-align: justify;
    padding: 0px 30px;
}
.session_title{
    text-align: center;
    margin-left: 30px;
    color: rgb(24, 18, 18);
    font-size: 2rem;
    margin: 40px 0px 30px 50px;
}
.cursos_box{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.img_curso{
    width: 200px;
    border-radius: 10px;
}
.curso_title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.curso_desc{
    background-color: rgba(167, 167, 167, 0.1);
    box-shadow:2px 4px 8px 0px rgba(0, 0, 0, 0.459);
    padding: 30px ;
    border-radius: 10px;
    width: 85%;
    font-size: 1.2rem;
}
.right_cursos_box{
    width: 60%;
}
.curso_conclusao{
    font-size: 1.2rem;
    margin-top: 10px;
}
.hr_cursos{
    width: 50vw;
    border: 1px solid orangered;
    display: flex;
    margin: 40px auto;
}
/*INDEX | PROJETOS */
#projetos {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
.projetos_box{
    width: 460px;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.08);
    margin: 20px 30px;
    border: 0px solid black;
    border-radius: 5px;
    box-shadow: 1px 8px 10px 1px rgba(0, 0, 0, 0.35);
}
.img_projetos_box{
    width: 100%;
}
.img_projetos{
width: 459px;
border-bottom: 1px solid black;
}
.hr_projetos{
color: black;
}
.p_projetos{
    font-size:1.5rem ;
    padding: 3px 0px 0px 15px;
}

/*PÁG PROJETO*/

.projeto{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.img_projeto{
    border-radius: 10px;
    box-shadow: 2px 5px 10px 1px black;
    width: 40vw;
    margin: 25px;
}

.desc_projeto{
    width: 40vw;
    padding: 10px 0px;
}
.title_projeto{
    font-size: 1.5rem;
}
.p_projeto{
    font-size: 1.2rem;
    padding: 10px 0px;
}

#btn_back{
    color: blue;
    font-size: 1.2rem;
    border: none;
    border-radius:5px ;
    padding: 8px;
    margin: 5vh 0px 0px 10vw;
}
#btn_back::after{
    color: blue;
}
#btn_back::before{
    color: blue;
}
#btn_back:hover{
    color: blue;
}
#btn_back:visited{
    color: blue;
}
.projeto_datas{
    text-align: right;
    padding-right: 10px;
}
.projeto-link{
    text-align: center;
    color: blueviolet;
    background-color: rgba(0, 0, 255, 0.2);
    width: min-content;
    padding: 10px;
    border-radius: 5px;
}
.projeto-link:visited{
    color: blueviolet;
}
/*PÁG CONTATOS*/
#contact{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p_contact:nth-child(1){
    padding-bottom: 5vh;
}

.p_contact{
    font-size: 1.5rem;
    text-align: center;

}

/*RODAPÉ*/
footer{
    width: 100vw;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 5px 0px;
    margin-top: 50px;
}

footer > p {
    padding: 20px 0px;
}

.footer-links{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.footer-link{
    color: blueviolet;
}
.footer-link:visited {
    color: blueviolet;
}

.img-footer{
    padding: 10px 30px;
    width: 50px;
}